/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/resources/views/adminbk
/php_errors.log
/app/Http/Requests
/app/Http/Requests/Interfaces/SendCode.php
