.header {
  background-color: #01a4e4;
}
.btn-login,
.btn-register {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 14px 10px 0;
  color: #33CCFF;
  background-color: white;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #01a4e4;
}
.btn-login:hover,
.btn-register:hover {
  text-decoration: none;
}
.btn-register {
  background-color: #01a4e4;
  color: white;
  border: 1px solid white;
  opacity: 0.7;
}
.links-header a {
  display: block;
  float: right;
  margin: 13px 0 13px 40px;
  height: 100%;
  color: white;
}
.search {
  border-bottom: 1px solid #DCDCDC;
}
.search .logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.search .h1 {
  display: inline-block;
  color: #01a4e4;
  vertical-align: bottom;
  font-size: 38px;
}
.search p {
  font-size: 14px;
  color: #999999;
  margin: 8px 0;
}
.search .searcher {
  width: 572px;
  height: 52px;
  margin: 26px auto 0;
}
.search .searcher .input {
  float: left;
  width: 446px;
  height: 100%;
  background-color: #f2f2f2;
  border: 1px solid #DCDCDC;
  border-radius: 4px 0 0 4px;
}
.search .searcher .input input {
  width: 96%;
  height: 80%;
  margin: 6px 10px;
  font-size: 14px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
}
.search .searcher .button {
  float: left;
  width: 122px;
  height: 52px;
  margin-left: -1px;
  background-color: #01a4e4;
  border-radius: 0 4px 4px 0;
  line-height: 52px;
  color: white;
  font-size: 18px;
  text-align: center;
}
.search .hot {
  font-size: 13px;
  color: #AEAEAE;
  text-align: right;
  padding-right: 70px;
}
.search .hot a {
  color: #666;
  margin: 10px;
  font-size: 14px;
}
.search .contect span {
  display: inline-block;
  color: #AEAEAE;
  margin: 28px 14px 0 0;
}
.search .contect .wechat {
  display: inline-block;
}
.search .contect .wechat:hover .wechat-code {
  display: block;
  position: absolute;
  transform: translate(-90%, -5px);
}
.search .contect .wechat-code {
  display: none;
}
.nav {
  border-bottom: 2px solid #01a4e4;
}
.nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 56px;
  line-height: 56px;
  margin-right: 60px;
  color: #666666;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: none;
}
.nav a.focus {
  color: #01a4e4;
}
.nav .strip {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 6px;
  width: 76px;
  height: 6px;
  border-radius: 3px;
  background-color: #01a4e4;
}
.nav2 {
  background-color: #f2f2f2;
}
.nav2 a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 14px;
  color: #AEAEAE;
}
.nav2 a:hover {
  text-decoration: none;
}
.form {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 80px 0 80px;
  text-align: center;
}
.form .separate-line {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: #f2f2f2;
  border: none;
}
.form h4 {
  margin: 40px 0;
}
.form > div {
  width: 420px;
  height: 50px;
  margin: 22px auto;
  border: 1px solid #d7d7d7;
}
.form .input-box{
  position: relative;
}
.form > div .required{
  position: absolute;
  top: 6px;
  left: -26px;
  color: red;
  font-size: 24px;
}
.form > div * {
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  font-weight: normal;
}
.form label {
  width: 80px;
  margin-right: 20px;
  text-align: center;
}
.form input[type="text"],
.form input[type="password"] {
  display: inline-block;
  width: 300px;
  height: 46px;
  margin-top: 1px;
  outline-color: #fff;
  border: none;
}
.form .no-border {
  border: none;
}
.form .no-border * {
  display: block;
  float: left;
}
.form .item-container {
  height: auto;
  border: none;
}
.form .item-container::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form .item-container .item {
  display: none;
}
.form .item-container .item[class='item item-chosen'] {
  display: block;
}
.form .item {
  position: relative;
  height: 32px;
  margin: 10px 19px;
  line-height: 32px;
  border: 1px solid #aeaeae;
  border-radius: 6px;
}
.form .item .inner{
  display: inline-block;
  margin: 0 28px;
  height: 30px;
  line-height: 30px;
}
.form .item .icon {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGuSURBVEhLtZaxSgNBEIb/3aSwsLCMkCKPoJ2+QUAhtvZRUAhoaSFyIKTUwkKMdoIWdioYsMwj2ClokUdIIWhu/WdvLkZzBo17HyS3M7mb2f1nbzYGY4jrKMOgyk8NDhW6ppNf0OOnS38bfdzYMzwl7lEyE7hNlFwfe4hRNwZFdf+IczjnvVFWopEEnPUyvRcMnM72VzjglV8N28KpujxWr554HVvG4vqvwQXOdIrPteI1HKjLM1iBzFyCq/kvKJms5EjGPoHX/A2Pk8w8CyZ4RwHz9hgPXiIpaKjgAmMVWfSmH+tWfPbOwLgYi5bBq3kE9xSwJAlqaoYnxorVNzQfDMpS5GDF/Q636IxIlI/+ikgkjSsX+D70RKKXxMyFrkjUViMP7qz0czWCwyLfWunhbLWX6gsG9e+YFu6Tdt3Hrm9QAWF32JGrT6An0YaMQ+AM9s0JOjJOVkDkJOIqDtWcGMp9ZUqI1Px6ojHJNpM0JpXLz3wWqyb6fH5wog3j6pjjzU3qWFXXWHxBqXkqyzCZCVJ4VixIy5WuSLPCIL5vMWDyt4X7XLai7BbxjwJ8AALbeQhb78DjAAAAAElFTkSuQmCC);
  background-size: 100% 100%;
  cursor: pointer;
}
.form .item .icon .icon2 {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAC/SURBVChTbZC9DcJADIUTpmGIFAyRISgoGIGOgsFSMMhFSoNEAVKkhO/5/hM+ybpn+/mcXCOWZTkTz3VdOysUUDvSG4iLFWSmaKDfHGkILbOzJqCvGtDNiThEVGZBPumWUzAllKsZUoN8Jvq4utsOlVTmCHVtmr0lszUfwilG4uVlxbdtW/UyXLT7wRJ6+fUQ/15Dn/EJqZGGEIMveYK5R+4egtxpw82n2WyrgVL15OiHNRB3YirNEXza5Ly5aX462Zqv8mMGOgAAAABJRU5ErkJggg==);
  background-size: 100% 100%;
}
.form .btn-choose {
  width: 240px;
  height: 56px;
  margin: 40px auto;
  line-height: 56px;
  border: 1px solid #01A4E4;
  border-radius: 6px;
  font-size: 18px;
  color: #01A4E4;
}
.form .btn-choose:hover {
  cursor: pointer;
  color: white;
  background-color: #01A4E4;
}
.form .sex-radio {
  margin: 0 0 0 40px;
}
.form .submit {
  display: block;
  width: 420px;
  height: 60px;
  margin: 50px auto;
  background-color: #01b9fe;
  border-radius: 4px;
  color: white;
  text-align: center;
  line-height: 60px;
  border: none;
  font-size: 18px;
}
.form .btn-dropdown {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAECAYAAABcDxXOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABeSURBVBhXY2ZAAqamphJAsF5KSur08+fP30CFGZigNIOxsbHG379/zzMyMroAuceBfBuIDFQRVOA0UIEEiA8EAv///98NFA8BcRhBDKDAcqACFrA0EgCK/2FgYCgFAHLsHFFnBaUiAAAAAElFTkSuQmCC);
  transform: rotateZ(180deg);
  cursor: pointer;
}
.form .province .btn-dropdown,
.form .city .btn-dropdown,
.form .county .btn-dropdown {
  top: 0;
}
.form #area {
  display: none;
}
.form .province,
.form .city,
.form .county {
  position: relative;
  width: 94px;
  height: 60px;
  margin-right: 10px;
}
/* 下拉框 */
.form .email-dropdown{
  display: none;
  position: absolute;
  border: 1px solid #d7d7d7;
  border-top: none;
  width: 320px;
  height: auto;
  left: 99px;
  top: 49px;
  text-align: left;
  background-color: white;
  z-index: 9
}
.form .email-dropdown .item-email:hover{
  background-color: #f2f2f2;
  cursor: default;
}
.drop-down {
  display: none;
  position: absolute;
  padding-left: 0;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-shadow: 0 3px 8px #AEAEAE;
  background-color: white;
  z-index: 99;
}
.drop-down li {
  display: block;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  text-align: left;
}
.drop-down li:hover {
  background-color: #F0F0F0;
}
#drop-province {
  width: 94px;
  top: 516px;
  left: 184px;
}
#drop-city {
  width: 94px;
  top: 516px;
  left: 288px;
}
#drop-county {
  width: 94px;
  top: 516px;
  left: 394px;
}
/* 弹出面板 */
.shielder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
}
.panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 400px;
  transform: translate(-50%, -50%);
  padding: 34px 54px;
  background-color: white;
  border-radius: 6px;
}
.panel p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
}
.panel .item {
  float: left;
  margin: 6px;
  border: 1px solid #AEAEAE;
  border-radius: 4px;
  cursor: pointer;
}
.panel .item span {
  display: block;
  margin: 0 30px;
  line-height: 30px;
}
.panel .item:hover,
.panel .item-chosen {
  color: #01b9fe;
  border-color: #01b9fe;
}
.panel .btn-panel {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 240px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  color: #01A4E4;
  border: 1px solid #01A4E4;
  cursor: pointer;
}
.panel .btn-panel:hover{
  color: white;
  background-color: #01A4E4;
}
.panel img {
  display: block;
  position: absolute;
  top: 10px;
  right: 16px;
  cursor: pointer;
}
.panel2{
  width: 460px;
  height: 520px;
}
.panel2 .province,
.panel2 .city{
  position: absolute;
  top: 84px;
  left: 46px;
  width: 180px;
  height: 40px;
  border: 1px solid #d7d7d7;
}
.panel2 .city{
  left: 234px;
}
.panel2 .search-box{
  display: block;
  position: absolute;
  top: 142px;
  left: 46px;
  width: 368px;
  height: 48px;
  padding-left: 10px;
  border: 1px solid #d7d7d7;
}
.panel2 .items{
  position: absolute;
  top: 194px;
  left: 46px;
  width: 368px;
  height: 196px;
  border: 1px solid #d7d7d7;
  overflow-y: scroll;
}
.panel2 .items .item{
  position: relative;
  width: 100%;
  height: 44px;
  margin: 0;
  border: none;
}
.panel2 .items .item:hover{
  background-color: #f2f2f2;
  cursor: default;
  color: #333;
}
.panel2 .items .item .name{
  line-height: 44px;
  margin: 0 0 0 20px;
}
.panel2 .items .item input{
  position: absolute;
  top: 12px;
  right: 20px;
}
.panel2 .btn-panel{
  width: 320px;
  height: 50px;
  line-height: 50px;
  bottom: 38px;
}
/* footer */
.footer {
  height: 200px;
  color: #5E5E5E;
  background-color: #f2f2f2;
}
.info-footer a {
  display: inline-block;
  margin: 34px 70px 30px 0;
}
.info-footer p {
  margin-bottom: 10px;
}
.qr-code img {
  display: inline-block;
  width: 126px;
  margin: 30px 0px 6px -10px;
}

/*# sourceMappingURL=broker-sign.css.map*/