.header {
  background-color: #01a4e4;
}
.btn-login,
.btn-register {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 14px 10px 0;
  color: #33CCFF;
  background-color: white;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #01a4e4;
}
.btn-login:hover,
.btn-register:hover {
  text-decoration: none;
}
.btn-register {
  background-color: #01a4e4;
  color: white;
  border: 1px solid white;
  opacity: 0.7;
}
.links-header a {
  display: block;
  float: right;
  margin: 13px 0 13px 40px;
  height: 100%;
  color: white;
}
.search {
  border-bottom: 1px solid #DCDCDC;
}
.search .logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.search .h1 {
  display: inline-block;
  color: #01a4e4;
  vertical-align: bottom;
  font-size: 38px;
}
.search p {
  font-size: 14px;
  color: #999999;
  margin: 8px 0;
}
.search .searcher {
  width: 572px;
  height: 52px;
  margin: 26px auto 0;
}
.search .searcher .input {
  float: left;
  width: 446px;
  height: 100%;
  background-color: #f2f2f2;
  border: 1px solid #DCDCDC;
  border-radius: 4px 0 0 4px;
}
.search .searcher .input input {
  width: 96%;
  height: 80%;
  margin: 6px 10px;
  font-size: 14px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
}
.search .searcher .button {
  float: left;
  width: 122px;
  height: 52px;
  margin-left: -1px;
  background-color: #01a4e4;
  border-radius: 0 4px 4px 0;
  line-height: 52px;
  color: white;
  font-size: 18px;
  text-align: center;
}
.search .hot {
  font-size: 13px;
  color: #AEAEAE;
  text-align: right;
  padding-right: 70px;
}
.search .hot a {
  color: #666;
  margin: 10px;
  font-size: 14px;
}
.search .contect span {
  display: inline-block;
  color: #AEAEAE;
  margin: 28px 14px 0 0;
}
.search .contect .wechat {
  display: inline-block;
}
.search .contect .wechat:hover .wechat-code {
  display: block;
  position: absolute;
  -webkit-transform: translate(-90%, -5px);
          transform: translate(-90%, -5px);
}
.search .contect .wechat-code {
  display: none;
}
.nav {
  border-bottom: 2px solid #01a4e4;
}
.nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 56px;
  line-height: 56px;
  margin-right: 60px;
  color: #666666;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: none;
}
.nav a.focus {
  color: #01a4e4;
}
.nav .strip {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 6px;
  width: 76px;
  height: 6px;
  border-radius: 3px;
  background-color: #01a4e4;
}
.nav2 {
  background-color: #f2f2f2;
}
.nav2 a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 14px;
  color: #AEAEAE;
}
.nav2 a:hover {
  text-decoration: none;
}
.form-area {
  position: relative;
  width: 420px;
  margin: 50px auto 100px;
}
.form-area h2 {
  text-align: center;
  font-size: 32px;
  margin: 40px;
}
/* 四个下拉框 */
.drop-down {
  display: none;
  position: absolute;
  padding-left: 0;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-shadow: 0 3px 8px #AEAEAE;
  background-color: white;
  z-index: 99;
}
.drop-down li {
  display: block;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.drop-down li:hover {
  background-color: #F0F0F0;
}
#drop-type {
  top: 196px;
  right: 0;
  width: 320px;
}
#drop-province {
  width: 94px;
  top: 260px;
  left: 96px;
}
#drop-city {
  width: 94px;
  top: 260px;
  left: 200px;
}
#drop-county {
  width: 94px;
  top: 260px;
  left: 304px;
}
.form-area .form .btn-dropdown {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAECAYAAABcDxXOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABeSURBVBhXY2ZAAqamphJAsF5KSur08+fP30CFGZigNIOxsbHG379/zzMyMroAuceBfBuIDFQRVOA0UIEEiA8EAv///98NFA8BcRhBDKDAcqACFrA0EgCK/2FgYCgFAHLsHFFnBaUiAAAAAElFTkSuQmCC);
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  cursor: pointer;
}
.form-area .form > div {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 22px 0;
  border: 1px solid #d7d7d7;
}
.form-area .form > div .required {
  position: absolute;
  top: 6px;
  left: -26px;
  color: red;
  font-size: 24px;
}
.form-area .form > div .normal-label,
.form-area .form > div .normal-input {
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  font-weight: normal;
}
.form-area .form .normal-label {
  width: 80px;
  margin-right: 20px;
  text-align: center;
}
.form-area .form input[type="text"] {
  display: inline-block;
  width: 300px;
  height: 46px;
  margin-top: 1px;
  outline-color: #fff;
  border: none;
}
.form-area .form .desc {
  height: auto;
}
.form-area .form .desc::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.form-area .form .desc textarea {
  width: 310px;
  height: 140px;
  margin-top: 14px;
  line-height: normal;
  border: none;
  resize: none;
  outline: none;
}
.form-area .form .submit {
  display: block;
  width: 100%;
  height: 60px;
  margin: 80px auto 0;
  background-color: #01b9fe;
  border-radius: 4px;
  color: white;
  text-align: center;
  line-height: 60px;
  border: none;
  font-size: 18px;
}
/* footer */
.footer {
  height: 200px;
  color: #5E5E5E;
  background-color: #f2f2f2;
}
.info-footer a {
  display: inline-block;
  margin: 34px 70px 30px 0;
}
.info-footer p {
  margin-bottom: 10px;
}
.qr-code img {
  display: inline-block;
  width: 126px;
  margin: 30px 0px 6px -10px;
}
/*# sourceMappingURL=marketing-order.css.map*/
