.nav2 {
  background-color: #f2f2f2;
}
.nav2 a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 14px;
  color: #AEAEAE;
}
.nav2 a:hover {
  text-decoration: none;
}
.detail {
  position: relative;
}
.detail .detail-control {
  position: absolute;
  right: 157px;
  bottom: 25px;
}
.detail .detail-control .btn-business {
  display: inline-block;
  width: 274px;
  height: 50px;
  line-height: 50px;
  margin: 80px 28px 0 0;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #01A4E4;
  border-radius: 6px;
  cursor: pointer;
}
.detail .detail-control .btn-business:hover {
  background-color: #01B9FE;
}
.detail .detail-control .save {
  display: inline-block;
  width: 98px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 20%;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  cursor: pointer;
}
.detail .detail-control .save i {
  color: #797979;
}
.detail .detail-control .save-focus,
.detail .detail-control .save:hover {
  color: #01a4e4;
  border-color: #01a4e4;
}
.detail .detail-control .save-focus i,
.detail .detail-control .save:hover i {
  color: #FF6633;
}
.preview {
  width: 450px;
  margin: 20px auto;
}
.preview .big {
  width: 450px;
  height: 450px;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
}
.preview .big img {
  display: block;
  width: 90%;
  margin: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.preview .thumbnails {
  width: 450px;
  height: 64px;
  padding: 0 40px;
}
.preview .thumbnails *:hover {
  cursor: pointer;
}
.preview .thumbnails .tab {
  float: left;
  width: 40px;
  height: 64px;
  margin-left: -40px;
  background-position: center;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}
.preview .thumbnails .tab:last-child {
  float: right;
  margin-right: -40px;
}
.preview .thumbnails .thumbnail {
  float: left;
  width: 64px;
  height: 64px;
  margin-left: 10px;
  border-radius: 0;
  background-size: 100%;
}
.preview .thumbnails .thumbnail.active {
  border: 2px solid #01a4e4;
}
.product-info {
  margin: 20px 0 0 78px;
}
.product-info h2 {
  font-size: 20px;
  font-weight: bold;
}
.product-info .info-row {
  width: 480px;
  color: #797979;
  border-bottom: 1px dotted #e4e4e4;
  position: relative;
  padding: 8px 0 8px 90px;
}
.product-info .info-row .key {
  width: 60px;
  text-align: right;
  margin: 8px 20px 8px 10px;
  position: absolute;
  left: 0;
  top: 0;
}
/* 弹出面板 */
.shielder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
}
.panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 380px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 34px 54px;
  background-color: white;
  border-radius: 6px;
}
.panel p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
}
.panel .btn-submit {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 320px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  color: white;
  background-color: #01A4E4;
  cursor: pointer;
}
.panel .btn-submit:hover {
  background-color: #01B9FE;
}
.panel img {
  display: block;
  position: absolute;
  top: 10px;
  right: 16px;
  cursor: pointer;
}
.panel form div {
  width: 320px;
  height: 54px;
  margin: 0 auto 14px;
  border: 1px solid #d7d7d7;
}
.panel form div label {
  display: inline-block;
  margin: 0 20px;
  line-height: 54px;
  font-weight: normal;
}
.panel form div input[type='text'] {
  width: 220px;
  outline: none;
  border: none;
}
.panel form .checkboxs {
  padding-left: 14px;
  border: none;
}
.panel form div span {
  display: inline-block;
  margin-right: 30px;
}
.order-now {
  margin-top: 20px;
  height: 180px;
  text-align: center;
  background-image: url(http://oocc7psxo.bkt.clouddn.com/banner3.jpg);
  background-size: cover;
}
.order-now a {
  line-height: 180px;
  font-size: 16px;
  color: #01B9FE;
}
.details {
  padding: 0;
  margin-top: 30px;
}
.tabset {
  height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #01a4e4;
}
.tabset .tabset-tab {
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #6B6B6B;
  cursor: pointer;
}
.tabset .focus {
  color: white;
  background-color: #01a4e4;
}
.content {
  display: none;
}
.product-detail {
  display: block;
  padding: 70px 100px;
}
.business {
  padding: 70px 100px;
}
.video {
  padding: 70px 0;
}
.similar {
  padding: 40px 0 80px;
}
.similar:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.similar .item {
  position: relative;
  display: inline-block;
  padding: 34px 20px;
  width: 22%;
  height: 340px;
  min-width: 200px;
  margin: 10px;
  color: #6B6B6B;
}
.similar .item:hover {
  box-shadow: 0 0 10px gray;
}
.similar .item img {
  display: block;
  width: 84%;
  margin: 0 auto 20px;
}
.similar .item .price-tab {
  position: absolute;
  bottom: 74px;
}
.similar .item .price-num {
  font-size: 15px;
  color: #FF6633;
}
.similar .item .price-type {
  font-size: 15px;
}
.similar .item p {
  position: absolute;
  top: 270px;
}
/* footer */
.footer {
  height: 200px;
  color: #5E5E5E;
  background-color: #f2f2f2;
}
.info-footer a {
  display: inline-block;
  margin: 34px 70px 30px 0;
}
.info-footer p {
  margin-bottom: 10px;
}
.qr-code img {
  display: inline-block;
  width: 126px;
  margin: 30px 0px 6px -10px;
}
/*# sourceMappingURL=product-detail.css.map*/
